* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-color: #000;
}

.block {
    width: 150px;
    height: 150px;
    background-color: #fff;
}

.red {
    background-color: red;
}